<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <div class="d-flex flex-column justify-center align-center" style="height: 100vh;">
                            <MudIcon Icon="Icons.Material.Filled.Security" Color="Color.Warning" Size="Size.Large" />
                            <MudText Typo="Typo.h5" Color="Color.Warning" Class="mt-4">Access Denied</MudText>
                            <MudText Class="mt-2">You don't have permission to access this page.</MudText>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/" Class="mt-4">
                                Return to Home
                            </MudButton>
                        </div>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
